<nav class="navbar">
  <div class="logo">
    <img class="logo" src="../../assets/logo.png" alt="Logo">
  </div>
  <div class="buttonList">
    <button (click)="changePage('default')">Accueil</button>
    <button (click)="changePage('activityList')">Activités disponibles</button>
    <button (click)="changePage('activitiesRegistered')">Mes activités</button>
    <button (click)="changePage('animationList')">Animations</button>
    <button (click)="changePage('addActivity')" *ngIf="currentUser.profileType == '0'" >Ajout d'activité</button>
    <button (click)="test()">Button</button>
  </div>
  <div class="btnDisconnect">
    <button (click)="disconnectUser()">Déconnexion</button>
  </div>

  

</nav>