nav.navbar{
    display:flex;
    background-color:#283618;
    height: fit-content;
    justify-content: space-between;
    align-items:center;
    width:100%;
}

nav.navbar img{
    width:120px;
    height:auto;
    margin-left:15px;
}
.buttonList{
    margin-right:0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:50%;
    width:60%;
}
nav ul li{
    display:inline-block;
    margin-top:0px;
    line-height: 20px;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px 0px;
}

.btnDisconnect{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}


button{
    background-color: #606c38;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top:auto;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:2px solid #606c38;
    transition: all .2s ease-in-out;
    cursor:pointer;
}
button:hover{
    background-color: #28AFB0;
    color: #FFFFFF;
    border:2px solid #19647E;
    -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
    transition: all .2s ease-in-out;
}


@media screen and (max-width: 970px) {
    nav.navbar{
        padding: 4px;
    }

    button{
        font-size: 10px;
        padding: 3px 7px;
    }

    .logo{
        display:none;
    }
  }


.example-container{
    position:absolute;
    height:100vh;
}