<nav class="navbar">
  <label class="logo"><img src="src/assets/logo.png"></label>
  <ul>
    <li><button (click)="test()">Button</button></li>
    <li><button (click)="test()">Activités</button></li>
    <li><button (click)="test()">Animations</button></li>
    <li><button (click)="test()">Button</button></li>
    <li><button (click)="test()">Button</button></li>
    <li><button (click)="test()">Button</button></li>
  </ul>
  <ul>
    <li><button (click)=""    onclick="location.href='../../trt/deconnection.php'">Déconnexion</button></li>
  </ul>

</nav>