<nav class="navbar">
  <div class="logo">
    <img class="logo" src="../../assets/logo.png" alt="Logo">
  </div>
  <div class="buttonList">
    <button (click)="test()">Button</button>
    <button (click)="test()">Activités</button>
    <button (click)="test()">Animations</button>
    <button (click)="test()">Button</button>
    <button (click)="test()">Button</button>
    <button (click)="test()">Button</button>
  </div>

  <button (click)="test()"    onclick="location.href='../../trt/deconnection.php'">Déconnexion</button>
  

</nav>