<video playsinline autoplay muted loop poster="../../assets/background-mp4.mp4">
  <source src="../../assets/background-mp4.mp4" type="video/mp4">
</video>
<div class="content">
  <div class="log">
    <form class='login' [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="image">  <img src="../../assets/logo.png"></div>
              <div class="login-text">
              <label for="login">Mail : </label>
              <input class='publication' formControlName="username" type='text'/>
              </div>
              <div class="login-text">
              <label for="password">Mot de passe : </label>
              <input class='publication' formControlName="password" type='password'/>
              </div>
              <div class="loading" id="loading">
                  Connexion en cours...
              </div>
              <div class="wrong-pass" *ngIf="errorMessage">
                {{ errorMessage }}
              </div>
              <div class="register">
                Pas de compte ? <a (click)="openRegisterComponent()">Inscrivez-vous</a>
              </div>
              <button type="submit" id='btnLog'>Connexion</button>
    </form>
  </div>
</div>
  