<div class="body">
<app-navbar></app-navbar>
<div class="main">
  <div class="hello" *ngIf="page == 'default'">
    <span class="hello-print">
      Bonjour {{ User.firstName}} {{User.lastName}}
    </span>
  </div>
  <div class="panel">
    <div class="uppanel">

    </div>

    <div class="downpanel">
      <div class="informations" *ngIf="page == 'default'">
        <span>Mes informations</span>
          <table>
            <tr>
              <td>Prénom:</td>
              <td>{{ User.firstName }}</td>
            </tr>
            <tr>
              <td>Nom:</td>
              <td>{{ User.lastName }}</td>
            </tr>
            <tr>
              <td>Date de naissance:</td>
              <td>{{ User.birthDate }}</td>
            </tr>
            <tr>
              <td>Date d'inscription:</td>
              <td>{{ User.registrationDate }}</td>
            </tr>
            <tr>
              <td>Adresse mail:</td>
              <td>{{ User.mail }}</td>
            </tr>
            <tr>
              <td>Numéro de téléphone:</td>
              <td>{{ User.phone }}</td>
            </tr>
            <tr>
              <td>Début du séjour:</td>
              <td>{{ User.stayStartDate }}</td>
            </tr>
            <tr>
              <td>Fin du séjour:</td>
              <td>{{ User.stayEndDate }}</td>
            </tr>
          </table>
      </div>

      <div class="activites" id="activites" *ngIf="page == 'activityList'">
        <div class="comboboxAct" id="comboboxAct">
          <select #selectAnimType name="act" (input)="onFilterChangeActivities(selectAnimType.value)">
            <option value="" selected disabled hidden>Choisissez un type d'activité</option>
            <option value="all">Toutes les activités</option>
            <option [value]="animType.codeTypeAnim" *ngFor="let animType of animationTypeList">{{animType.nomTypeAnim}}</option>
            <!--<?php
            $sql2="SELECT CODEANIM,NOMANIM FROM animation";
            foreach ($con->query($sql2) as $row) {
                echo "<option value=$row[CODEANIM]>$row[NOMANIM]</option>";
                }
            ?>-->
          </select>
        </div>
        <div class="afficher_activites" id="afficher_activites">
          <div 
          class='card'
          *ngFor="let activity of activityList" 
          style='background-color:#E55812'
          [ngStyle]="{'background-color': (activity.dateAnnuleAct == null) ? '#283618' : '#E55812'}">
            <div class='titreCard'>{{ activity.nomAnim }}</div>
            <div class='actCard' method='post' action=''>
            <div class='champAct'>
            <label for='dateAct'>Date de l'activité :</label>
            <input type='date' id='dateAct' name='date_act' [value]='activity.dateAct'/>
            </div>
            <div class='champAct'>
            <label for='code_anim'>Code de l'animation :</label>
            <input type='text' id='code_anim' name='code_anim' [value]='activity.codeAnim'/>
            </div>
            Date : {{activity.dateAct}}<br/>
            Prix : {{activity.prixAct}}€<br/>
            <div *ngIf="activity.dateAnnuleAct != null">Annulée le {{activity.dateAnnuleAct}}</div>
            <div class='buttonAct'>
            <button type='button' (click)="registerActivity(activity)" *ngIf="User.profileType == '2' && activity.dateAnnuleAct == null" class='btn_inscription'>S'inscrire</button>
            </div>
            </div>
          </div>
        </div>
       </div>

       <div class="activites_inscrites" id="activites_inscrites" *ngIf="page == 'activitiesRegistered'">
        <div class="afficher_activites">
        </div>
       </div>
    </div>
  </div>
</div>
</div>