<div class="body">
<app-navbar></app-navbar>
<div class="main">
  <div class="hello" *ngIf="page == 'default'">
    <span class="hello-print">
      Bonjour {{ User.prenomCompte}} {{User.nomCompte}}
    </span>
  </div>
  <div class="panel">
    <div class="uppanel">

    </div>

    <div class="downpanel">
      <div class="informations" *ngIf="page == 'default'">
        <span>Mes informations</span>
          <table>
            <tr>
              <td>Prénom:</td>
              <td>{{ User.prenomCompte }}</td>
            </tr>
            <tr>
              <td>Nom:</td>
              <td>{{ User.nomCompte }}</td>
            </tr>
            <tr>
              <td>Date d'inscription:</td>
              <td>{{ User.dateInscrip | date: " dd/MM/yyyy"}}</td>
            </tr>
            <tr>
              <td>Adresse mail:</td>
              <td>{{ User.adrMailCompte }}</td>
            </tr>
            <tr>
              <td>Numéro de téléphone:</td>
              <td>{{ User.telCompte }}</td>
            </tr>
            <tr *ngIf="User.dateDebSejour != null">
              <td>Début du séjour:</td>
              <td>{{ User.dateDebSejour | date: " dd/MM/yyyy"}}</td>
            </tr>
            <tr *ngIf="User.dateFinSejour != null" >
              <td>Fin du séjour:</td>
              <td>{{ User.dateFinSejour | date: " dd/MM/yyyy"}}</td>
            </tr>
          </table>
      </div>

      <div class="activites" id="activites" *ngIf="page == 'activityList'">
        <div class="comboboxAct" id="comboboxAct">
          <select #selectAnimType name="act" (input)="onFilterChangeActivities(selectAnimType.value)">
            <option value="" selected disabled hidden>Choisissez un type d'activité</option>
            <option value="all">Toutes les activités</option>
            <option [value]="animType" *ngFor="let animType of animationTypeList">{{animType}}</option>
          </select>
          <button *ngIf="User.typeProfil == 'admin'" (click)="openCreateActComponent()">Créer une activité</button>
        </div>
        <div class="afficher_activites" id="afficher_activites">
          <div 
          class='card'
          *ngFor="let activity of activityList" 
          [ngClass]="{'cardAnnule': activity.dateAnnulationAct != null}"
          >
            <div class='titreCard'>{{ activity.animation.nomAnimation }}</div>
            <div class='actCard' method='post' action=''>
            Date : {{activity.dateAct | date: " dd/MM/yyyy"}}<br/>
            Prix : {{activity.prixAct}}€<br/>
            <div *ngIf="activity.dateAnnulationAct != null">Annulée le {{activity.dateAnnulationAct | date: " dd/MM/yyyy"}}</div>
            <div class='buttonAct'>
            <button type='button' (click)="registerActivity(activity.idActivite)" *ngIf="User?.typeProfil == 'client' && activity.dateAnnulationAct == null" class='btn_inscription'>S'inscrire</button>
            <button type='button' (click)="deleteActivity(activity)" *ngIf="User?.typeProfil == 'admin'" class='btn_inscription'>Supprimer</button>
            <button type='button' (click)="cancelActivity(activity)" *ngIf="User?.typeProfil == 'admin'" class='btn_inscription'>Annuler</button>
            <button type='button' (click)="openViewActDetailsComponent(activity)" *ngIf="User?.typeProfil == 'admin'" class='btn_inscription'>Détails</button>
            </div>
            </div>
          </div>
        </div>
       </div>

       <div class="activites_inscrites" id="activites_inscrites" *ngIf="page == 'activitiesRegistered'">
        <div class="afficher_activites">
          <div class='card' *ngFor="let registration of activityRegisteredList">
          <div class='titreCard'>{{registration.animation.nomAnimation}}</div>
          <div class='actCard'>
          Date : {{registration.dateAct | date: " dd/MM/yyyy"}}<br/>
          Prix : {{registration.prixAct}}€<br/>
          <div class='buttonAct'>
          Inscrit
          <button type='button' name='action' (click)="unregisterActivity(registration.idActivite)" class='btn_inscription'>Se désinscrire</button>
          </div>
          </div>
          </div>
        </div>
       </div>

       <div class="animationList" id="animationList" *ngIf="page == 'animationList'">
        <div class="comboboxAct" id="comboboxAct">
          <button *ngIf="User.typeProfil == 'admin'" (click)="openCreateAnimComponent()">Créer une animation</button>
        </div>
        <div class="animationCardList">
          <div class='cardAnim' *ngFor="let anim of animList">
            <div class='titreCard'>{{ anim.nomAnimation }}</div>
            <div class='buttonAnim'>
            <button class='btn_inscription'(click)="deleteAnimation(anim.idAnimation)" >Supprimer</button>
            <!-- <button class='btn_inscription' id='modifAnim'>Modifier</button> -->
          </div>
          </div>
        </div>
        
      </div>

      <div class="userList" id="userList" *ngIf="page == 'userList'">
        <div class="list">
          <table class="comicGreen">
            <thead>
            <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>PRÉNOM</th>
            <th>N° TÉLÉPHONE</th>
            <th>ADRESSE MAIL</th>
            <th class="hidden">DATE DÉBUT SÉJOUR</th>
            <th class="hidden">DATE FIN SÉJOUR</th>
            <th class="hidden">DATE D'INSCRIPTION</th>
            <th class="hidden">DATE FERMETURE COMPTE</th>
            <th>NOMBRE D'INSCRIPTIONS</th>
            <th *ngIf="User?.typeProfil == 'admin'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of userList">
              <td>{{ user.idUser }}</td>
              <td>{{ user.nomCompte }}</td>
              <td>{{ user.prenomCompte }}</td>
              <td>{{ user.telCompte }}</td>
              <td>{{ user.adrMailCompte }}</td>
              <td class="hidden">{{ user.dateDebSejour | date: "dd/MM/yyyy" }}</td>
              <td class="hidden">{{ user.dateFinSejour | date: "dd/MM/yyyy" }}</td>
              <td class="hidden">{{ user.dateInscrip | date: "dd/MM/yyyy" }}</td>
              <td class="hidden">{{ user.dateFerme | date: "dd/MM/yyyy" }}</td>
              <td>{{ user.activites.length }}</td>
              <td *ngIf="User?.typeProfil == 'admin'"><button (click)="purgeActivity(user.idUser)">Purger inscriptions</button></td>
            </tr>
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>