@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.content{
    padding:5px;
    font-family: 'Roboto Slab', serif;
    background-color:rgb(254, 250, 224);
}

.header{
    font-weight: bold;
}

a{
    text-decoration: underline;
    color:blue;
}
a:hover{
    cursor: pointer;
}


form.createActivity{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:5px 10px;
    gap:5px;
    width:fit-content;
}

input{
  padding: 12px 20px;
  margin: 8px 0;
  margin-top:4px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px;

  box-sizing: border-box;
  z-index: 1;
  border:2px solid rgb(96, 108, 56);
}

button{
    background-color: #606c38;
    border-radius: 5px;
    border: none;
    color: white;
    height:50%;
    margin-top:auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border:2px solid #606c38;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

.buttonDiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}